.hero {
    height: 500px;
    width: 100%;
    background-image:linear-gradient(rgb(164, 146, 162,.1),rgb(225, 215, 162,.6)), url(../images/Pac-man.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .calloutContainer {
        height: 150px;
        width: 1200px;
        background-color: rgb(0, 0, 0,.70);
        margin-bottom: 20px;
        .callout {
            color: white;
            font-family: Inconsolata;
            font-size: 70px;
            margin-left: 90px;
            margin-top: 10px;
        }
        .myName {
            color: white;
            font-family: Inconsolata;
            font-size: 30px;
            margin-left: 90px;
        }
    }
}

.browse{
    height: 1700px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0,.6),rgb(0, 0, 0,.6)), url(../images/doom.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .browseContainer{
        height: 300px;
        width: 500px;
        background-color:black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 50px;
        border-radius: 15px;
        .browseContentContainer {
            height: 180px;
            width:200px;
            // background-color: antiquewhite;
            .title{
                // background-color: brown;
                height: 30px;
                width: 200px;
                color: white;
                font-size: 20px;
                font-family: Inconsolata;
            }
            .browseContent{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .rating{
                // background-color: brown;
                height: 30px;
                width: 200px;
                color: white;
                font-size: 20px;
                font-family: Inconsolata;
                margin-top: 10px;
            }
        }
    }
}